.navbar{
    padding: 10px 0px;
    position: relative;
    height: 2rem;
    padding-top: 16px;
    border-bottom: 1px solid #c2c2c22f;
    background-color: rgb(59, 56, 56);
}
.navbar__content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__items{
    display: flex;
    gap: 24px;
    font-size: 18px;
    
}
.navbar__items a{
    color: #c2c2c2;
}
.navbar__items a:hover{
    filter: brightness(1.3)
}
.navbar__logo{
    position: absolute;
    left: 0;
    max-width: 150px;
    filter: invert(100%);
}
.navbar__cart{
    position: relative;
    right: 100px;
    top: 100px;
}